body{
    background-color: #1f2937;
    
}
body > * {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

.logo {
    display: flex;
    align-self: center;
    font-size: large;
    font-weight: bold;
    padding-left: 10px;
}

.top-links {
    display: flex;
    gap:10px
}

.top {
    display: flex;
}

button {
    color: black;
}

.upper-content {
    display: flex;
}

.heading {
    padding: 10px;
}

.buddhaheader {
    height: 100px;
    width: 200px;
    align-self: center;
    padding-right: 10px;
}

/* Body section */
h2 {
    color: black;
}
.body {
    background-color: lightgray;
}
.body-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.content-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
}

.info {
    max-width: 150px;
    padding: 10px;
    margin: 20px;
}

.img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border: #1f2937 solid;
    
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 3em;
    text-align: center;
    font-style: italic;
}

.quote-author {
    text-align: center;
    padding: 10px;
    font-size: 2em;
    color: gray;
}
.description {
    display: flex;
    color: black;
    justify-content: center;
    padding: 10px;
}

.footer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
